wandb/
__pycache__/
exp1-is-effective/model.onnx
*.png
exp1-is-effective/outputs/prune_mask.pt
personalized_vit/config.json
personalized_vit/model.safetensors
cache_personalization/*
exp1-is-effective/outputs/prune_mask_v1.pt
*myenv*
*snap_codeparrot*
*.pkl
*.out
*.db
*DS_Store
*model*
*.pt
!*models/opt125-epoch-5-max_steps-None-20250912-200406-langs-Rust
pip_freeze.txt
cache_personalization_V2/*
exp1-is-effective/outputs_V2/*
